**/*.sln
**/*.suo
**/*.user
!*.sln
!*.suo
!*.user
!*.vs
!*.lock.config
!*.cache
!*.vsiconcache
!*.vsstartupinfo
!*.vssetup
!*.vssetup.ini
!*.vsxproj.user
!*.vsxproj.cache
!*.vsxproj.backup
!*.vsxproj
!*.vsxproj.user
!*.vsxproj.cache
!*.vsxproj.backup
!*.vsxproj
!*.vsxproj.user
!*.vsxproj.cache
!*.vsxproj.backup
!*.user
!*.user.user
!*.user.cache
!*.user.bak