@model LibraryJulesVerne.DTOs.BookDto

@{
    ViewData["Title"] = "Книги";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <h1>Търсене на книги</h1>
        <form id="searchFormBooks">
            <label for="search_term">Търсене по заглавие или автор:</label><br />
            <input type="text" id="search_term" name="search_term" required>
            <input type="submit" value="Търси">
        </form>
        <div id="resultsBooks">въведете * за всички</div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const form = document.getElementById('searchFormBooks');
                const resultsDiv = document.getElementById('resultsBooks');

                form.addEventListener('submit', async function (event) {
                    event.preventDefault();
                    const searchTerm = document.getElementById('search_term').value;
                    try {
                        const response = await fetch(`http://localhost:5000/books?title=${encodeURIComponent(searchTerm)}&author=${encodeURIComponent(searchTerm)}`);
                        const data = await response.json();
                        let output = '';
                        if (data.length > 0) {
                            output += '<ul>';
                            for (const book of data) {
                                output += `<li>${book.id} ${book.title} - ${book.author} (налични ${book.availableCount})`;
                                output += `<a href="#" onclick="return confirm('Сигурни ли сте, че искате да изтриете тази книга?') && deleteBook(${book.id})">Изтрий</a>`;
                                output += `</li>`;
                            }
                            output += '</ul>';
                        } else {
                            output = 'Няма намерени резултати.';
                        }
                        resultsDiv.innerHTML = output;
                    } catch (error) {
                        console.error('Error:', error);
                        resultsDiv.innerHTML = 'Грешка при търсенето.';
                    }
                });
            });

            async function deleteBook(bookId) {
                try {
                    const response = await fetch(`http://localhost:5000/books/${bookId}`, {
                        method: 'DELETE'
                    });
                    if (response.status === 204) {
                        // Обновяване на списъка след успешно изтриване
                        await searchAndDisplayResults();
                    } else if (!response.ok) {
                        alert('Грешка при изтриването.');
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('Грешка при изтриването.');
                }
            }

            async function searchAndDisplayResults() {
                const searchTerm = document.getElementById('search_term').value;
                const resultsDiv = document.getElementById('resultsBooks');
                const response = await fetch(`http://localhost:5000/books?title=${encodeURIComponent(searchTerm)}&author=${encodeURIComponent(searchTerm)}`);
                const data = await response.json();
                let output = '';
                if (data.length > 0) {
                    output += '<ul>';
                    for (const book of data) {
                        output += `<li>${book.id} ${book.title} - ${book.author} ${book.isbn} `;
                        output += `<a href="#" onclick="return confirm('Сигурни ли сте, че искате да изтриете тази книга?') && deleteBook(${book.id})">Изтрий</a>`;
                        output += `</li>`;
                    }
                    output += '</ul>';
                } else {
                    output = 'Няма намерени резултати.';
                }
                resultsDiv.innerHTML = output;
            }
        </script>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Index">Начало</a>
</div>