@model IEnumerable<LibraryJulesVerne.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Библиотека <b>Жул Верн</b></h1>

</div>

<table>
    <tr>
        <td width="30%" rowspan="2">
@*             <b>Бързи връзки</b><br>
            <a href="Books">Търсене на книги</a><br>
            <a href="BooksCreate">Добави нова книга</a><br>
            <a href="Readers">Търсене на потребители</a><br>
            <a href="missingbooks.cshtml">Невърнати книги</a>
 *@        </td>
        <td width="40%">
            
        </td>
        <td width="30%" rowspan="2">
            <p>Най-четените книги за месеца са:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td>@book.Id</td>
                            <td>@book.Title</td>
                            <td>@book.Author</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td width="40%">

        </td>
    </tr>
</table>