@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>@ViewBag.Title</h2>

<p>Here are the book titles:</p>
<ul>
    @foreach (var book in Model)
    {
        <li>@book.Title</li>
    }
</ul>